/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page Colors */
:root {
  --dark-utility-color: #333;
  --white-utility-color: #fff;
  --primary-color: #ccc;
  --secondary-color: coral;
  --overlay-color: rgba(24, 39, 51, 0.87);
  --menu-speed: 0.75s;
  --transition-speed: 1s;
}

html,body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  /* color: var(--dark-utility-color); */
  background-color: #f4f4f4;
}

/* Styling Navbar */
#navbar-container ul {
  /* display: flex;
  flex-direction: row; */
  background-color: #0e3c8a;
  list-style: none;

  /* justify-content: space-evenly; */

}

#navbar-container ul li{

  /* padding: 20px 10px; */
  color: var(--white-utility-color);
  padding: 1rem;
  position: relative;
  display: inline-block;
  z-index: 2;
}

/* Hide the dropdown menu by default */
#navbar-container ul li ul {
  display: none; 
}

#navbar-container ul li a{
  text-decoration: none;
  color: var(--white-utility-color);

}

#navbar-container ul li:hover{
   background-color: coral;
   cursor: pointer;
   color: var(--white-utility-color);

}

#navbar-container ul li:hover a{
  color: var(--white-utility-color);
}

/* Nested Drop Down Show */

#navbar-container ul li:hover  ul {
  display: none; /* Show the dropdown menu when the parent menu item is hovered over */
  position: absolute; /* Position the dropdown menu absolutely relative to the parent menu item */
  top: 100%; /* Position the dropdown menu below the parent menu item */
  left: 0; /* Position the dropdown menu flush with the left side of the parent menu item */
  width: 200px;
  /* padding-top: 1rem; Add some space between the parent menu item and the dropdown menu */
  /* padding-top: 1rem; Add some space between the parent menu item and the dropdown menu */
  z-index: 1; /* Add a higher z-index value to the dropdown menu */
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navbar-container ul li:hover  ul li{
  display: block;
  background-color: #e7e7e7;
}

#navbar-container ul li:hover ul.visible{
  display: block;
  opacity: 1;
}

#navbar-container ul li:hover  ul li a{
  color: var(--dark-utility-color);
}

#navbar-container ul li:hover  ul li:hover{
  background-color: #e0e0e0;
  color: inherit;
}

/* Styling the background of span in dropdown list */
#navbar-container ul li:hover span.bg-primary{
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
  float:right;
  text-align: center;
  font-size: 0.8rem;
}

#navbar-container ul li:hover ul li:hover span.bg-primary{
  background-color: chocolate;
}

/* Styling Hero */
#hero-section{
  height: 30vh;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white-utility-color);
  flex-direction: column;
  padding: 0 2rem;
}

#hero-section h1{
  font-size: 4rem;
}

.bg-primary{
  background-color: var(--secondary-color);
  color: var(--white-utility-color);
}

@media(max-width: 600px){
  #navbar-container ul li{
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  }

  #navbar-container ul li:hover ul{
    width: 100%;
    position: relative;
  }


}















